<!-- footer -->
<footer class="p-5 md-p-l5">
    <div class="flex flex-wrap">
        <div class="md-w-25pc mb-10">
            <img src="/assets/images/StockFLowLogo.png" class="w-l10" alt="">
            <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
                <p>La nostra aplicació està dissenyada per ajudar les empreses a gestionar fàcilment el seu inventari, crear factures i albarans, i agilitzar l’enviament de productes als seus clients. </p>
                <br>
                <p>Solucions intel·ligents per gestionar inventaris, factures i enviaments amb màxima eficiència.</p>
            </div>
        </div>
        <div class="w-100pc md-w-50pc">
            <div class="flex justify-around">
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Empresa</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="/index.html#AboutUs" class="white opacity-70 no-underline hover-underline">Sobre nosaltres</a></li>
                        <li class="my-3"><a href="/pagines/Policy.html" class="white opacity-70 no-underline hover-underline">Política de privadesa</a></li>
                        <li class="my-3"><a href="/pagines/cookies.html" class="white opacity-70 no-underline hover-underline">Política de cookies</a></li>
                        <li class="my-3"><a href="/index.html#condicions" class="white opacity-70 no-underline hover-underline">Condicions del servei</a></li>
                    </ul>
                </div>
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Product</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="/index.html#testimonials" class="white opacity-70 no-underline hover-underline">Testimonis</a></li>
                        <li class="my-3"><a href="/index.html#pricing" class="white opacity-70 no-underline hover-underline">Preu</a></li>
                    </ul>
                </div>
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Support</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="/pagines/FAQ.html" class="white opacity-70 no-underline hover-underline">FAQ</a></li>
                        <li class="my-3"><a href="/pagines/contact.html" class="white opacity-70 no-underline hover-underline">Contacta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- social media -->
    <div class="social-media">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

<style>
    footer {
        background-color: #292b2c; /* Cambia este color según tus necesidades */
        color: #fff;
    }
    footer a {
        color: #fff;
    }
    footer a:hover {
        color: #ccc;
    }
</style>