<nav class="w-100pc flex flex-column md-flex-row md-px-10 bg-white">
    <div class="flex justify-between">
        <a href="#" class="flex items-center mr-4 no-underline">
            <img class="max-h-l10 w-auto" src="/assets/images/StockFLowLogo.png" />
        </a>
        <a data-toggle="toggle-nav" data-target="#nav-items" href="#"
            class="flex items-center ml-auto md-hidden indigo-lighter opacity-50 hover-opacity-100 ease-300 p-1 m-3">
            <i data-feather="menu"></i>
        </a>
    </div>
    <div id="nav-items" class="hidden flex sm-w-100pc flex-column md-flex md-flex-row md-justify-end items-center">
        <a href="/index.html#top" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Inici</a>
        <a href="/index.html#pricing" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Preus</a>
        <a href="../pagines/FAQ.html" class="fs-s1 mx-3 py-3 black no-underline hover-underline">FAQ</a>
        <a href="/index.html#AboutUs" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Sobre nosaltres</a>
        <a href="../pagines/contact.html" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Contacte</a>
        <a href="../pagines/Login.html" class="button bg-black white fw-600 no-underline mx-5">Registra't</a>
    </div>
</nav>